/* 전체 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body를 flex로 만들지 마세요!! */
body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

/* root는 flex 사용 금지! */
#root {
  width: 100%;
}
