.header {
  background: #addab1;
  color: rgb(135, 130, 206);
  padding: 10px 0;
}

/* 내부 컨테이너도 중앙 정렬 */
.header-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin-left: 24px;
  color: rgb(179, 38, 38);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-badge {
  font-size: 12px;
  padding: 4px 8px;
  background: #dc3545;
  color: white;
  border-radius: 6px;
  font-weight: bold;
}
