name: Build & Push Backend Image

on:
  push:
    branches: [ "release" ]
    paths:
      - "src/**"
      - "pom.xml"
      - "Dockerfile"
      - "Dockerfile.prod"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        run: ./mvnw clean package -DskipTests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f Dockerfile.prod \
            -t doomout/info-master:latest \
            -t doomout/info-master:${{ github.sha }} \
            --push .
