steps:
  - uses: actions/checkout@v4

  - name: Set up JDK 17
    uses: actions/setup-java@v4
    with:
      distribution: temurin
      java-version: 17

  - name: Build JAR
    run: ./mvnw clean package -DskipTests

  - name: Set up Docker Buildx
    uses: docker/setup-buildx-action@v3

  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_TOKEN }}

  - name: Build & Push Backend Image
    run: |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        -f Dockerfile.prod \
        -t doomout/info-master:latest \
        -t doomout/info-master:${{ github.sha }} \
        --push .
