name: Build & Push Backend Image

on:
  push:
    branches: [ "release" ]
    paths:
      - "backend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f backend/Dockerfile \
            -t doomout/info-master:latest \
            -t doomout/info-master:${{ github.sha }} \
            --push backend
